

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Quantico', sans-serif;
    font-size:12px;
   /* line-height:30px;*/
}
.pad-top-botm {
    padding-bottom:5px;
    padding-top:5px;
}
h4 {
    text-transform:uppercase;
}
/* =============================================================
   PAGE STYLES
 ============================================================ */

.contact-info span {
    font-size:14px;
    padding:0px 50px 0px 50px;
}

.contact-info hr {
    margin-top: 0px;
margin-bottom: 0px;
}

.client-info {
    font-size:11px;
}

.ttl-amts {
    text-align:right;
    padding-right:50px;
}